<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
      <meta charset="utf-8">
      <title{% if pageTitleLang %} lang="{{ pageTitleLang }}"{% endif %}>{% block pageTitle %}GOV.UK - The best place to find government services and information{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
      {# Ensure that older IE versions always render with the correct rendering engine #}
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="meta1" content="meta">
      <meta name="meta2" content="meta">
      <meta name="meta3" content="meta">
      <meta name="meta4" content="meta">
      <meta name="meta5" content="meta">
      <meta name="meta6" content="meta">
      <meta name="meta7" content="meta">
      <meta name="meta8" content="meta">
      <meta name="meta9" content="meta">
      <meta name="meta10" content="meta">
      <meta name="meta11" content="meta">
      <meta name="meta12" content="meta">
      <meta name="meta13" content="meta">
      <meta name="meta14" content="meta">
      <meta name="meta15" content="meta">
      <meta name="meta16" content="meta">
      <meta name="meta17" content="meta">
      <meta name="meta18" content="meta">
      <meta name="meta19" content="meta">
      <meta name="meta20" content="meta">
      <meta name="meta21" content="meta">
      <meta name="meta22" content="meta">
      <meta name="meta23" content="meta">
      <meta name="meta24" content="meta">

{#      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">#}
{#      <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}">  Hardcoded value of $govuk-black#}
{#      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">#}
{#      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">#}
{#      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">#}
{#      <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">#}

{#      <!--[if !IE 8]><!-->#}
{#      <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>#}
{#      <!--<![endif]-->#}

{#      <!--[if lt IE 9]>#}
{#      <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>#}
{#      <script src="/assets/js/html5shiv-3.7.3.min.js"></script>#}
{#      <![endif]-->#}

{#      <script src="/assets/js/jquery.min.js"></script>#}
{#      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"#}
{#              integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="#}
{#              nonce="{{ cspNonce }}"#}
{#              crossorigin="anonymous"></script>#}
{#      <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="{{ cspNonce }}" crossorigin>#}


{#      {% if opengraphImageUrl or assetUrl %}#}
{#          <meta property="og:image" content="{{ opengraphImageUrl | default(assetUrl + '/images/govuk-opengraph-image.png') }}">#}
{#      {% endif %}#}
    </head>
  <body>
    <!--# include virtual="/component/prisoner/A8469DY" -->
  </body>
</html>



<!--# set var="testbot" value="Hello Bottom!" -->
<!--# echo var="testbot" -->
