<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <meta charset="utf-8">

  </head>
  <body>
    <!--# include virtual="/component/header" -->
  </body>
</html>



<!--# set var="testbot" value="Hello Bottom!" -->
<!--# echo var="testbot" -->
