<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
   <meta charset="utf-8">

         <script src="/assets/js/jquery.min.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                 integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                 nonce="{{ cspNonce }}"
                 crossorigin="anonymous"></script>


       {# OpenGraph images needs to be absolute, so we need either a URL for the image or for assetUrl to be set #}
       {% if opengraphImageUrl or assetUrl %}
           <meta property="og:image" content="{{ opengraphImageUrl | default(assetUrl + '/images/govuk-opengraph-image.png') }}">
       {% endif %}
  </head>
  <body>
    <!--# include virtual="/component/prisoner/A8469DY" -->
  </body>
</html>



<!--# set var="testbot" value="Hello Bottom!" -->
<!--# echo var="testbot" -->
